# Copyright (c) Microsoft Corporation. All rights reserved.
# SPDX-License-Identifier: MIT

CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_AZURE_SAMPLE_USE_PLUG_AND_PLAY=y
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y

