# Copyright (c) Microsoft Corporation. All rights reserved.
# SPDX-License-Identifier: MIT

menu "Azure IoT middleware for FreeRTOS Main Task Configuration"

    config AZURE_SAMPLE_USE_PLUG_AND_PLAY
        bool "Use PnP in Azure Sample"
        default true
        help
            Set it to true to enable this sample to use Azure IoT Plug and Play (PnP).

    config AZURE_IOT_HUB_FQDN
        string "Azure IoT Hub FQDN"
        default "<hostname>.azure-devices.net"
        help
            "Set the Azure IoT Hub FQDN."

    config AZURE_IOT_DEVICE_ID
        string "Azure IoT Device ID"
        default ""
        help
            "Set the Azure IoT Device ID."

    choice AZURE_IOT_AUTH_METHOD
        prompt "Azure IoT Authentication Method"
        default AZURE_IOT_AUTH_METHOD_SYMMETRIC_KEY
        help
            Authentication method:

            If "Symmetric Key" is selected, you must provide the symmetric key for the device.

            If "X509 Certificates" is selected, you must provide the device certificate and certificate private key.

        config AZURE_IOT_AUTH_METHOD_SYMMETRIC_KEY
            bool "Symmetric Key"
        config AZURE_IOT_AUTH_METHOD_X509
            bool "X509 Certificates"
    endchoice

    config AZURE_IOT_DEVICE_SYMMETRIC_KEY
        string "Azure IoT Device Symmetric Key"
        default ""
        depends on AZURE_IOT_AUTH_METHOD_SYMMETRIC_KEY
        help
            "Set the Azure IoT Device Symmetric Key (if using SAS token authentication)."

    config AZURE_IOT_DEVICE_CLIENT_CERTIFICATE
        string "Azure IoT Device Client Certificate"
        default ""
        depends on AZURE_IOT_AUTH_METHOD_X509
        help
            "Set the Azure IoT Device Client Certificate (if using x509 client authentication)."

    config AZURE_IOT_DEVICE_CLIENT_CERTIFICATE_PRIVATE_KEY
        string "Azure IoT Device Client Certificate Private Key"
        default ""
        depends on AZURE_IOT_AUTH_METHOD_X509
        help
            "Set the Azure IoT Device Client Certificate Private Key (if using x509 client authentication)."

    config AZURE_IOT_MODULE_ID
        string "Azure IoT Module ID"
        default ""
        help
            "Set the Azure IoT Module ID (optional for this sample)."

    config ENABLE_DPS_SAMPLE
        bool "Enable Device Provisioning Sample"
        default false
        help
            Set it to true to enable this sample to be provisioned by Azure Device Provisioning Service.

    config AZURE_DPS_ID_SCOPE
        string "Azure Device Provisioning Service ID Scope"
        default ""
        help
            "Set the Azure Device Provisioning Service ID Scope."

    config AZURE_DPS_REGISTRATION_ID
        string "Azure Device Provisioning Service Registration ID"
        default ""
        help
            "Set the Azure Device Provisioning Service Registration ID."

    config AZURE_TASK_STACKSIZE
        int "Azure Task Stack Size"
        default 4096
        help
            "Set the stack size of the main demo task."

    config NETWORK_BUFFER_SIZE
        int "MQTT packet buffer size"
        default 5120
        help
            "Set the size of the network buffer for MQTT packets."

endmenu
